.dropdown {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.dropdown > ul {
  display: none;
  flex-direction: column;
}
.dropdown > ul > li {
  width: 100px;
  padding: 10px;
  background-color: #efefef;
  font-weight: bold;
}

button {
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  background-color: #3498db;
  color: white;
  font-weight: bold;
  width: fit-content;
}
